*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(#200017,#0c0015);
    height: 100vh;
    font-family: system-ui;
}
a{
    text-decoration: none;
    color: #fff;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px;
}
header .logo{
    font-size: 35px;
    text-transform: uppercase;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
header ul li{
    margin-right: 35px;
}
header ul li a{
    padding: 6px 15px;
    border-radius: 20px;
}
header ul li a:hover{
    background: #fff;
    color:#200017 ;
}
